<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
    />
  </head>

  <body>
    <header>
      <div>
        <a href="/"><h1>Borrow book</h1> </a>
      </div>
      <div style="margin-right: 30px">
        <a href="/" class="card">Home</a>
        <a href="/authors" class="card">Authors</a>
        <a href="/users" class="card">Users</a>
      </div>
    </header>
    <main>
      <form action="/borrow-book" method="POST" class="borrow-form">
        <h2>Borrow book</h2>
        <div class="form-field">
          <label for="user">User:</label>
          <input type="hidden" name="book_id" value="<%= bookId %>" />
          <select name="user_id" id="user" class="form-input">
            <% users.forEach(user => { %>
            <option value="<%= user.id %>"><%= user.username %></option>
            <% }) %>
          </select>

          <div>
            <button
              type="submit"
              class="button-primary button"
              style="margin-top: 10px"
            >
              Borrow this book
            </button>
          </div>
        </div>
      </form>
      <div class="borrow-form book-card single-book">
        <h2><%= book.title %></h2>
        <p><%= book.description %></p>
        <h3>Author: <%= book.username %></h3>
        <h4>Genre: <%= book.name %></h4>
        <p><%= book.published_date.toDateString() %></p>
        <img
          src="<%= book.cover_image_url %>"
          height="150px"
          width="300px"
          style="border-radius: 8px"
        />
      </div>
    </main>
  </body>
</html>
