<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
    />
    <!-- <script>
      const booksArray = [...books]; // your array of data

      const searchInput = document.querySelector("#search-input");
      const list = document.querySelector("#book-list");

      searchInput.addEventListener("input", () => {
        const searchTerm = searchInput.value.trim().toLowerCase();
        const filteredArray = booksArray.filter(
          (item) =>
            item.title.toLowerCase().includes(searchTerm) ||
            item.username.toLowerCase().includes(searchTerm)
        );
        list.innerHTML = filteredArray.join("");
      });
    </script> -->
  </head>

  <body>
    <header>
      <div>
        <a href="/"><h1>List of books</h1> </a>
      </div>
      <div style="margin-right: 30px">
        <a href="/authors" class="card">Authors</a>
        <a href="/create-book" class="card">Create book</a>
        <a href="/users" class="card">Users</a>
      </div>
    </header>
    <main>
      <div class="genres">
        <% genres.forEach(genre => { %>
        <a class="genre-card" href="/books/<%= genre.id %>">
          <h3><%= genre.name %></h3>
        </a>
        <% }) %>
      </div>

      <div class="book-cards-container" id="book-list">
        <% books.forEach(book => { %>
        <div class="book-card">
          <h2><%= book.title %></h2>
          <p><%= book.description %></p>
          <h3>Author: <%= book.username %></h3>
          <h4>Genre: <%= book.name %></h4>
          <p><%= book.published_date.toDateString() %></p>
          <img
            src="<%= book.cover_image_url %>"
            height="150px"
            width="300px"
            style="border-radius: 8px"
          />
          <input type="hidden" name="book_id" value="<%= book.id %>" />
          <div class="card-buttons">
            <% if (!book.borrowed) { %>
            <div>
              <a href="/borrow-book/<%= book.id %>" class="card">Borrow book</a>
            </div>
            <% }else{ %>
            <div>
              borrowed until: <%= new Date(+new Date(book.borrowed_date) +
              2592000000).toDateString() %>
            </div>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
